body {
    font-family: Arial, sans-serif;
   
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .gallery-container {
    padding: 20px;
  }
  
  .gallery-title {
  
    font-size: 40px;
  color: #ff4081;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  animation: fadeIn 1s ease-in-out;
  }
  
  .category-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .category-button {
    background: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .category-button.active, .category-button:hover {
    background: #13cac7;
    color: black;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  
  .gallery-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  
  .gallery-item img:hover {
    transform: scale(1.1);
  }
  
  .modal {
    display: flex;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .modal-content {
    max-width: 90%;
    max-height: 80vh;
    border-radius: 10px;
  }
  
  .caption {
    margin-top: 10px;
    font-size: 20px;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  .close:hover {
    color: red;
  }
  