footer {
    background: #a8002d;
    color: white;
    padding: 40px 20px;
    text-align: left;
}

.footer {
    color: white;
    padding: 40px 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    width: 25%;
    margin-bottom: 10px;
}

.footer-section h3 {
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

.footer-section form input,
form textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
}

.footer-section button {
    background: orange;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid gray;
}

.footer-bottom img {
    width: 5rem;
    height: auto;
    display: block;
    margin: 0 auto;
}

.social-icons a {
    margin: 0 10px;
    color: white;
}

#footer-credits {
    background-color: #a8002d;
    color: white;
    margin: 15px 0;
}

@media (max-width: 768px) {
    .footer-section {
        width: 90%;
    }
    .footer {
        flex-direction: column;
        gap: 20px;  
    }
}